div.stamp {
    text-align: center;
}

.stamped_list {
    min-height:64px;
    margin-top:30px;
    margin-bottom:25px;
    padding:0px 20px 0px 20px;
}

.stamp_list {
	position: relative;
	background: #F2F4F6;
	padding: 6px;
}

.stamp_list .list {
    overflow-y: scroll;
    height: 61px;
    max-height: 80px;
    padding: 6px;
}

.stamp_list:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.stamp_list:after {
	border-color: rgba(242, 244, 246, 0);
	border-top-color: #F2F4F6;
	border-width: 15px;
	left: 50%;
	margin-left: -360px;
}

.user_stamped {
    width: 64px;
    min-height: 64px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    float: left;
}

#stamp_plus img{
    width: 64px;
    height: 64px;
}

a.stamped_icon {
}

.stamped_icon img{
    width: 60px;
    cursor: pointer;
}

a.stamp_user_icon {
    position: absolute;
    bottom: -4px;
    left: -4px;
}

a.stamp_user_icon img {
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    border: 1px solid white;
}

.stamp_icon {
    width: 60px;
    cursor: pointer;
    padding: 2px;
    border-radius: 6px;
    border: 2px solid #dfebf1;
    margin-right: 2px;
    background-color: white;
}
.stamp_icon:hover {
    border-color: #90A6B6;
}
