.user_stamped {
    position: relative;
}

.stamp_user_icon {
    position: absolute;
    width: 20px;
    top: 1px;
    left: 23px;
}

.stamp_icon {
    width: 30px;
}

.stamed_icon {
    width: 35px;
}
