body {
}

.contents {
}

.contents-east {
    margin: 0;
    padding: 0;
}

.info {
    text-align: center;
    background-color: #f2f4f6; 
    font-weight: bold;
}

.stamp_area {
    text-align: center;
}

.stamp {
    width: 120px;
}

.illust {
    width: 158px;
}

.illust_area {
    position:relative;
    overflow:hidden;
}

.illust_area ul {
    list-style: none;

    position:relative;
    left:50%;
    float:left;
}

.illust_area li {
    background: #ffffff;
    border: 1px solid #fff;
    float: left;
    margin: 0px 9px 25px 9px;
    padding: 5px 0;
    text-align: center;
    width: 158px;

    position:relative;
    left:-50%;
}

.illust_area a {
    text-decoration: none;
    color: #333333;
}
